# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json
.eide
.vscode
.clang-format
SEEKFREE.code-workspace

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
